nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: var(--fira);
  margin-bottom: 5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
nav h1 {
  display: none;
}

.logo img {
  max-width: 80px;
  border-radius: 100px;
  margin: 5px 0 0 0;
  border: 2px solid #fff;
  transition: all 0.6s;
}
.logo img:hover {
  box-shadow: 0 0 10px var(--text_color);
}

.nav-menu {
  display: flex;
  font-size: 22px;
  align-items: center;
}

.menu {
  margin: 0 20px;
  text-decoration: none;
  font-family: var(--fira);
  color: var(--maincolor);
  cursor: pointer;
  transition: margin-bottom 0.25s;
}
.menu:hover {
  color: var(--maincolor2);
  margin-bottom: 5px;
}
#menubtn {
  display: none;
}
.resume {
  margin: 0 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#theme {
  width: 30px;
  align-items: center;
  margin: 0px 20px;
  cursor: pointer;
  border: var(--text_color) solid 2px;
  padding: 3px;
  border-radius: 50%;

  transition: transform 1s;
}

#theme2{
  border: 3px solid var(--text_color);
  border-radius: 50%;
  padding: 3px;
  display: none;
}

.about {
  font-family: var(--fira);
  text-align: left;
  margin-top: 15vw;
  align-items: center;
  justify-content: center;
}

#greet {
  font-size: 1em;
  color: var(--maincolor2);
  transition: all .6s;
}
#greet:hover {
  text-shadow: 2px 2px 8px var(--maincolor2);
}
#name {
  font-size: 5em;
  /* color: var(--maincolor); */
}
.about h3 {
  font-size: 2.5em;
  /* color: var(--maincolor); */
}

.about-more {
  font-family: var(--fira2);
  display: flex;
  font-size: 1.2em;
  align-items: center;
}
.about-more section {
  margin: 0 20px;
}
.left p {
  margin: 10px;
}
.right img {
  width: 30vw;
  border-radius: 20px;
  border: 3px solid var(--maincolor);
  transition: all 0.6s;
}
.right img:hover {
  box-shadow: 0 0 10px var(--maincolor);
}

.projects {
  margin-top: 18vw;
  justify-content: center;
  align-items: center;
}

.pro {
  display: flex;
}

.content {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--maincolor);
  border-radius: 20px;
  margin: 0 20px;
  padding: 10px;
  font-family: var(--fira2);
  width: 30vw;
  transition: all 0.6s;
}
.content:hover {
  border: 2px solid var(--maincolor);
  box-shadow: 0 0 10px var(--maincolor);
}
.content h3 {
  margin: 10px 0;
  font-size: 1.3em;
  font-family: var(--fira);
}
.content img {
  width: 20vw;
  border: 2px solid var(--text_color);
  border-radius: 20px;
}
.content p{
  margin: 3vw 0 2vw 0;
}

.learn {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--fira);
  margin: 10vw 0;
  margin-top: 18vw;
}
.learn h1 {
  text-align: center;
  justify-content: center;
}
.language {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--maincolor);
  width: 70%;
  border-radius: 20px;
}
.language img {
  width: 80px;
  margin: 20px;
  /* cursor: none; */
  transition: all 0.6s;
}

.language img:hover {
  background-color: var(--icon);
  padding: 10px;
  border-radius: 20px;
}

.tools {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border-radius: 20px;
  background-color: var(--maincolor2);
}
.tools img {
  width: 70px;
  margin: 20px;
  /* cursor: none; */
  transition: all 0.5s;
}

.tools img:hover {
  background-color: var(--icon);
  padding: 10px;
  border-radius: 20px;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--maincolor);
  border-radius: 20px;
  max-width: 50%;
  font-family: var(--fira2);
  transition: all 0.6s;
  height: 25vw;
}
.timeline:hover {
  box-shadow: 0 0 10px var(--maincolor);
}
.timeline section {
  margin: 0 20px;
  overflow: auto;
}

.date {
  width: 50%;
  height: 99%;
}

.date h1 {
  margin: 20px 10px;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  padding: 5px;
  border-radius: 5px;
  transition: all 0s ease-in-out;
}

.info {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.info div {
  margin: 20px 20px;
  display: none;
}

.info h2 {
  color: var(--maincolor);
}
.info h3 {
  color: var(--maincolor2);
}
