.timeline {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  border: solid var(--main-color);
  margin: 10vw 15vw 0;
  border-radius: 20px;
  flex-direction: row;
  height: 30vw;
  color: var(--text-color2);
  background: var(--background_color);
  transition: all 0.3s ease-in-out;
}
.timeline div {
  margin: 2vw;
}

.date {
  overflow: auto;
  font-family: var(--font-fira);
  display: flex;
  flex-direction: column;
  height: 88%;
  width: 20vw;
  padding: 1vw 0;
  text-align: center;
  border-radius: 20px;
}

.date h1 {
  border-radius: 7px;
  font-size: 1.5em;
  margin: 1.2vw;
  padding: 0.5vw;
  text-align: left;
  font-family: var(--font-ubuntu);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content {
  display: grid;
  padding: 3vw;
  overflow: auto;
  font-family: var(--font-ubuntu);
  border-radius: 20px;
  width: 30vw;
  height: 75%;
  justify-content: center;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.content h2 {
  margin: 0;
  font-size: 3em;
  font-family: var(--font-ubuntu);
  color: var(--main-color);
}

.content h3 {
  margin: 0;
  font-family: var(--font-mono);
  font-size: 1.5em;
  color: var(--main-color2);
}

.content p {
  font-family: var(--font-ubuntu);
}

#active {
  background: var(--main-color);
  color: var(--text-color);
}
.shape_ {
  position: absolute;
  top: 8vw;
  left: 3vw;
  width: 32vw;
}

.circle_ {
  position: absolute;
  top: 42vw;
  left: 80vw;
  width: 9vw;
}

.circle__ {
  position: absolute;
  top: 40.5vw;
  left: 89vw;
  width: 3.5vw;
}

.bimoji_ {
  position: absolute;
  top: 14.5vw;
  left: 83.8vw;
  width: 13.5vw;
  animation: bimoji_ani_r 3s;
}

@media screen and (max-width: 850px) {
  .timeline {
    flex-direction: column;
    margin: 10vw;
    height: 50vw;
    min-height: 400px;
  }
  .timeline div {
    margin: 2vw;
  }
  .date {
    flex-direction: row;
    height: 20vw;
    width: 90%;
    min-height: 89px;
  }
  .date h1 {
    text-align: center;
  }
  .content {
    width: 90%;
    height: 90%;
    text-align: center;
  }
  .bimoji_ {
    top: 376px;
    left: -3px;
    width: 19.5vw;
    z-index: 4;
    animation: bimoji_ani_l 3s;
  }
  .shape_ {
    top: 6vw;
    left: -1vw;
    width: 32vw;
  }

  .circle_ {
    top: 64vw;
    left: 80vw;
    width: 13vw;
  }

  .circle__ {
    top: 75vw;
    left: 78vw;
    width: 4.5vw;
  }
}
@media screen and (max-width: 730px) {
  .bimoji_ {
    top: 750px;
    left: -2px;
    width: 22.5vw;
    z-index: 4;
  }
  .shape_ {
    top: 85vw;
    left: -3vw;
  }

  .circle_ {
    top: 58vw;
    left: 85vw;
  }

  .circle__ {
    top: 54vw;
    left: 94vw;
  }
}

@media screen and (max-width: 557px) {
  .content h2 {
    font-size: 2.5em;
  }
  .circle_ {
    top: 91vw;
  }
  .circle__ {
    top: 87vw;
  }
  .shape_ {
    top: 122vw;
  }
}

@media screen and (max-width: 500px) {
  .timeline {
    margin: 10vw 10vw 40vw;
  }
}
@media screen and (max-width: 465px) {
  .bimoji_ {
    width: 33vw;
    top: 712px;
  }
  .timeline {
    margin: 10vw 10vw 53vw;
  }
}

@keyframes bimoji_ani_l {
  from {
    left: -300px;
  }
  to {
    left: -3px;
  }
}

@keyframes bimoji_ani_r {
  from {
    top: 25.5vw;
    left: 65.8vw;
  }
  to {
    top: 14.5vw;
    left: 83.8vw;
  }
}
