.header {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-0);
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 10px black;
  transition: 0.5s ease-in-out;
}

.header-nav-active {
  background: var(--primary-color-200);
  box-shadow: 0px 0px 0px;
}

.header-nav-active .svg {
  fill: var(--primary-color-400);
}

.logo {
  width: 50px;
  margin: 0 0 0 20px;
  cursor: pointer;
}

.svg {
  fill: var(--primary-color-800);
  transition: 0.3s linear;
  border-radius: 20px;
}
.svg_logo {
  fill: var(--primary-color-800);
  transition: 0.3s linear;
  border-radius: 20px;
}
.menu {
  position: relative;
  z-index: 100;
  display: flex;
  width: 130px;
  height: 50px;
  margin: 0 20px 0 0;
  align-items: center;
  justify-content: space-between;
}

.theme i {
  margin: 6px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.theme i:nth-child(1) {
  color: white;
}
.theme i:nth-child(2) {
  color: black;
}
.nav-btn {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.nav-toggle-btn {
  position: absolute;
  z-index: 100;
  height: 4px;
  width: 40px;
  top: 20px;
  background-color: var(--primary-color-800);
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}
.nav-toggle-btn::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  top: -12px;
  right: 0;
  background-color: var(--primary-color-800);
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}

.nav-toggle-btn::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  top: 12px;
  right: 0;
  background-color: var(--primary-color-800);
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}

.nav-btn.nav-active .nav-toggle-btn {
  transform: translate(-50px);
  background: transparent;
  box-shadow: none;
}

.nav-btn.nav-active .nav-toggle-btn::before {
  transform: rotate(45deg) translate(35px, -35px);
  top: 0px;
  width: 40px;
  background: var(--primary-color-400);
}
.nav-btn.nav-active .nav-toggle-btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
  top: 0px;
  width: 40px;
  background-color: var(--primary-color-400);
}
.nav {
  position: fixed;
  background-color: var(--primary-color-200);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0px at calc(100% - 42px) 35px);
  transition: 0.5s ease-in-out;
  z-index: 10;
}
.active {
  clip-path: circle(75%);
}

.nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 1.9em;
  text-align: center;
}

.nav-menu li {
  margin: 2vw 0;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-item {
  text-decoration: none;
  font-weight: 600;
  position: relative;
  color: var(--primary-color-800);
  font-family: var(--font-200);
  font-weight: bold;
  color: var(--primary-color-400);
  transition: 0.2s linear;
}

.nav-item:hover {
  color: var(--secondary-color-100);
}

.nav.active .header {
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 35vh 0 20px 12vw;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.intro-name {
  color: var(--primary-color-800);
  font-family: var(--font-200);
  font-weight: 800;
  font-size: 5em;
  font-weight: 600;
  line-height: 1.3;
  transition: 0.3s ease-in-out;
}
.sub-intro {
  color: var(--primary-color-400);
  font-family: var(--font-100);
  font-size: 3em;
  font-weight: 600;
  line-height: 1.3;
}

.about-me-context {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}

.content-right img {
  width: 200px;
  padding: 0 20px 0 0px;
}

.contact_model {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100000;
  /* backdrop-filter: blur(3px); */
  transition: all 0.3s;
}

.contact_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  color: var(--primary-color-800);
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background-color: rgb(152, 139, 191, 0.3);
  border-radius: 20px;
  padding: 20px 20px;
  border: 3px solid var(--primary-color-400);
  backdrop-filter: blur(3px);
  transition: all 0.3s;
}
.contact_menu h1 {
  font-family: var(--font-200);
  font-size: 2em;
}
.contact_menu .fab {
  font-size: 1.5em;
}
.contact_menu .fa-xmark {
  position: absolute;
  top: 17px;
  right: 24px;
  font-size: 3em;
  cursor: pointer;
}
.open {
  opacity: 1;
  pointer-events: auto;
}

.timeline-slide {
  position: relative;
  border-radius: 20px;
  padding: 30px 20px 20px 20px;
  background-color: var(--primary-color-0);
  filter: blur(4px);
  transition: all 0.3s ease-in-out;
}
.swiper-slide-active {
  filter: blur(0px);
  transition: all 0.2s ease-in-out;
}
.timeline {
  background-color: rgb(152, 139, 191, 0.5);
  border-radius: 10px;
  border: 3px solid var(--primary-color-400);
  margin: 0 13vw 20vw 13vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.timeline-date {
  font-weight: 600;
  text-transform: capitalize;
}

.timeline-heading {
  text-transform: capitalize;
  color: var(--primary-color-400);
  line-height: 1.2;
  margin-bottom: 20px;
}
.timeline-content {
  line-height: 1.6;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;

  justify-items: center;
}
.card-grid .card {
  margin: 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background: var(--primary-color-400);
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px 0 0 0;
}
.card:hover {
  box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.1);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(225, 225, 225, 0.1),
    transparent
  );
  transition: 0.65s;
}

.card:hover::before {
  left: 100%;
}
.card h1 {
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
  text-decoration: underline;
}
.card p {
  padding: 10px;
}

.proj_icon {
  /* height: 5em; */
}
